h1 {
    font-family: "Secular One";
    font-size: 3em;
    color: #b16565;
    margin:0;
    padding:0;
}

h3 {
    font-family: "Secular One";
    margin-top: 0;
    margin-bottom: 50px;
}

body {
    font-family: "Secular One";
}

.center {
    text-align: center;
}

/* https://codepen.io/miraviolet/pen/ZobWEg */
/* https://codepen.io/pirrera/pen/bqVeGx */
#add-course-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: 48px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(160deg, #FE7B7B, #75D073, #FFE977, #74A3FF, #FBB143, #C17ED9);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    transition: .2s ease-in-out 0s;
}

#add-course-btn:hover {
    background-position: right center;
    transform: scale(1.05);
    cursor: pointer;
}

#grid-container {
    display: inline-grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

#footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    background: lightgray;
    padding: 1em;
    margin: 0;
}