h2 {
  margin: 0;
  display: inline-block;
  border: black
}

select {
  outline-width: 0;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
}

/* Size and position of modal on screen*/

.modal-content {
  margin: 6.25em auto;
  width: 50%;
}

.modal-content input,
textarea {
  border: 1px solid #1c87c9;
  outline: none;
  padding: 10px;
}

.form {
  background: #fff;
  margin: 25px;
  padding: 2%;
}

.close-button {
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 1rem;
  background: #f44336;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  border: none;
}

.close-button:hover,
.close-button:focus {
  cursor: default;
  background: #961a12;
}

.course-input {
  margin-right: 5.6em;
  width: 50%;
}

.form-links {
  margin-top: 20px;
}

.link-name {
  margin-right: 2%;
  width: 30%;
}

.link-input {
  margin-right: 2%;
  width: 46%;
}

.remove-link-btn {
  background: #f44336;
  border: none;
  color: #fff;
  padding: 0.5em;
  width: 11%;
}

.remove-link-btn:hover {
  background: #961a12;
}

.add-new-link {
  background: #4caf50;
  border: none;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  padding: 0.5em;
  width: 16%;
}

.add-new-link:hover {
  background-color: #337a36;
}

.form-error-msg {
  color: black;
  display: inline;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-bottom button {
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
}

.delete-course-btn {
  background: #f44336;
  margin-right: 0.7em;
  width: 31%;
}

.delete-course-btn:hover {
  background: #961a12;
}

.submit-course-btn {
  background: #1c87c9;
  width: 67%;
}

.submit-course-btn:hover {
  background: #2371a0;
}

.submit-course-btn.full-width {
  width: 100%;
}