.form-links {
    margin-top: 20px;
}

.link-name {
    margin-right: 2%;
    width: 30%;
}

.link-input {
    margin-right: 2%;
    width: 46%;
}

.remove-link-btn {
    background: #f44336;
    border: none;
    color: #fff;
    padding: 0.5em;
    width: 11%;
}

.remove-link-btn:hover {
    background: #961a12;
}