/* 
 * Colors used:
 * Red: #fe7b7b
 * Green: #75d073
 * Blue: #74a3ff
 * Yellow: #ffe977
 * Orange: #fbb143
 * Purple: #c17ed9
 */

/* General */

body {
    background-color:powderblue;
}

h1 {
    font-family: verdanan;
    font-size: 300%;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

/* Add-new-course button and dropdown info */

.description {
    width: 30%;
    font-size: 1.1em;
}

#new-course-btn {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 0.5em 0.75em;
  text-align: center;
  text-decoration: none;
}

#new-course-btn:hover {
  background-color: #337a36;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: help;
  margin-left: 0.5em;
  transition: visibility 0s, opacity 0.5s linear;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  min-width: 20em;
  max-width: 50em;
  box-shadow:  rgba(0,0,0,0.2);
  padding: 0px 4px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  transition-delay: 0.6s;
  visibility: visible;
  opacity: 1;
}

/* Link organizer grid */

#grid-container {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.frame {
    position: relative;
    display: inline-block;
    background-size: contain;
    height: calc(100%em);
}

.course-title {
    margin-top: 5%;
    margin-left: 5%;
}

.links {
    margin-left: 5%;
    margin-bottom: 5%;
    word-wrap: break-word;
}


/* 
 * Positions edit button at bottom center of container 
 * The translate() adjusts for the edit button's width and height
 */
.edit-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Popup edit form */

.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Dims background when open */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Size and position of modal on screen*/
.modal-content {
    margin: 6.25em auto;
    width: 50%;
}

.form {
    padding: 2%;
    margin: 25px;
    background: #fff;
}

.modal-content input, 
textarea {
    padding: 10px;
    border: 1px solid #1c87c9;
    outline: none;
}

.close {
    color: rgb(109, 108, 108);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.course-input {
    width: 50%;
    margin-right: 5em;
}

.form-links {
    margin-top: 20px;
}

.link-name {
    width: 30%;
    margin-right: 2%;
}

.link-input {
    width: 46%;
    margin-right: 2%;
}

.remove-btn{
    width: 11%;
    background: #f44336;
    color: #fff;
    border: none;
    padding: 0.5em
}

.remove-btn:hover {
    background: #961a12;
}

.add-new-link{
    width: 16%;
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: 1em;
}

.add-new-link:hover {
  background-color: #337a36;
}

.form-error-msg {
    display: inline;
    color: red;
}

.form-bottom button {
    padding: 10px;
    border: none;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
}

.delete-btn {
    width: 31%;
    background: #f44336;
    margin-right: 0.7em;
}

.delete-btn:hover {
    background: #961a12;
}

.submit-btn {
    width: 67%;
    background: #1c87c9;
}

.submit-btn:hover {
    background: #2371a0;
}

#submit-course {
    width: 100%;
}

/* Upload Schedule Section */

#file {
    display: none;
}

#image-upload-btn {
    background-color: #4caf50;
    cursor: pointer;
    color: #fff;
    padding: 0.5em 0.75em;
}

#image-upload-btn:hover {
    background-color:  #337a36;
}

.img-error-msg {
    color: red;
}

#schedule-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* Text below image */

#page-end {
    text-align: center;
    color: #454545;
}


