/* 
 * Colors used:
 * Red: #fe7b7b
 * Green: #75d073
 * Blue: #74a3ff
 * Yellow: #ffe977
 * Orange: #fbb143
 * Purple: #c17ed9
 */

/* General */

body {
  background-color:powderblue;
}

h1 {
  font-family: verdanan;
  font-size: 300%;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

/* Add-new-course button and dropdown info */

.description {
  font-size: 1.1em;
  width: 30%;
}

.add-btn {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 0.5em 0.75em;
  text-align: center;
  text-decoration: none;
}

.add-btn:hover {
  background-color: #337a36;
}

.dropdown {
  cursor: help;
  display: inline-block;
  margin-left: 0.5em;
  position: relative;
  transition: visibility 0s, opacity 0.5s linear;
}

.dropdown-content {
  background-color: #fff;
  box-shadow:  rgba(0,0,0,0.2);
  visibility: hidden;
  max-width: 50em;
  min-width: 20em;
  padding: 0px 4px;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  transition-delay: 0.6s;
  visibility: visible;
}

/* Link organizer grid */

#grid-container {
  display: inline-grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.frame {
  background-size: contain;
  display: inline-block;
  height: calc(100%em);
  position: relative;
}

.course-title {
  margin-top: 5%;
  margin-left: 5%;
}

.links {
  margin-left: 5%;
  margin-bottom: 5%;
  word-wrap: break-word;
}

/* 
 * Positions edit button at bottom center of container 
 * The translate() adjusts for the edit button's width and height
 */
.edit-btn {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* Popup edit form */

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  /* Dims background when open */
}

/* Size and position of modal on screen*/
.modal-content {
  margin: 6.25em auto;
  width: 50%;
}

.form {
  background: #fff;
  margin: 25px;
  padding: 2%;
}

.course-form {
  background: #fff;
  margin: 25px;
  padding: 2%;
}

.modal-content input, 
textarea {
  border: 1px solid #1c87c9;
  outline: none;
  padding: 10px;
}

.close {
  color: rgb(109, 108, 108);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.course-input {
  margin-right: 5.6em;
  width: 50%;
}

.form-links {
  margin-top: 20px;
}

.link-name {
  margin-right: 2%;
  width: 30%;
}

.link-input {
  margin-right: 2%;
  width: 46%;
}

.remove-link-btn{
  background: #f44336;
  border: none;
  color: #fff;
  padding: 0.5em;
  width: 11%;
}

.remove-link-btn:hover {
  background: #961a12;
}

.add-new-link{
  background: #4caf50;
  border: none;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  padding: 0.5em;
  width: 16%;
}

.add-new-link:hover {
  background-color: #337a36;
}

.form-error-msg {
  color: red;
  display: inline;
}

.form-bottom button {
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
}

.delete-course-btn {
  background: #f44336;
  margin-right: 0.7em;
  width: 31%;
}

.delete-course-btn:hover {
  background: #961a12;
}

.submit-btn {
  background: #1c87c9;
  width: 67%;
}

.submit-btn:hover {
  background: #2371a0;
}

#submit-course {
  width: 100%;
}

/* Upload Schedule Section */

#file {
  display: none;
}

#image-upload-btn {
  background-color: #4caf50;
  color: #fff; 
  cursor: pointer;
  padding: 0.5em 0.75em;
}

#image-upload-btn:hover {
  background-color:  #337a36;
}

.img-error-msg {
  color: red;
}

#schedule-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  width: 60%;
}

.remove-btn{
  background: #f44336;
  border: none;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 0.5em;
}

.remove-btn:hover {
  background: #961a12;
}

/* iframe */

#iFrame {
  border: 0px;
  height: 37.5em;
  width: 56.25em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: block;
}

#iFrame-input {
  width: 80%;
}

#submit-iFrame-btn {
    background: #1c87c9;
    border: none;
    color: #fff;
    padding: 0.5em;
    width: 11%;
    margin-left: 2%;
}
  
.submit-iFrame-btn:hover {
  background: #2371a0;
}

#iFrame-error-msg {
  color: red;
}

/* Text below image */

#page-end {
  height: 50vh;
  position: relative;
  width: 100%;
}

#bottom-text {
  bottom: 0;
  color: #454545;
  left: 0;
  position: absolute;
  text-align: center;
  margin-top: 2em;
  width: 100%;
}


