body {
    background-color:powderblue;
}

h1 {
    font-family: verdanan;
    font-size: 300%;
    text-align: center;
}

/* Link organizer grid */

.grid-container {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 1em;
}

.frame {
    position: relative;
    display: inline-block;
    background-size: contain;
    height: calc(100%em);
}

.course-title {
    padding-top: 5%;
    padding-left: 5%;
}

.links {
    padding-left: 5%;
    padding-bottom: 5%;
}

/* 
 * This positions the edit button at bottom center.
 * The bottom: 0 places the button at the bottom of the container
 * left 50% will move it 50% of the parents width to the right
 * transform() will adjust for the edit buttons width and height
 */
.edit-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
 * Colors:
 * Red: #fe7b7b
 * Green: #75d073
 * Blue: #74a3ff
 * Yellow: #ffe977
 * Orange: #fbb143
 * Purple: #c17ed9
 */
#Seng275 {
    background-color:#fe7b7b;
}
#Seng321 {
    background-color:#ffe977;
}
#CSC360 {
    background-color:#fbb143;
}
#CSC370 {
    background-color:#74a3ff;
}
#Other {
    background-color:#75d073;
}

/* Image */

.schedule {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
